.App {
  margin: 0 2rem;
}

.App-field {
  margin-bottom: 1rem;
}

.App-input {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.App-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.App-legend {
  margin-bottom: 0.75rem;
  padding: 0;
}

.App-radio {
  margin-bottom: 0.5rem;
}

.App-balance {
  font-size: 1.25rem;
  font-weight: 600;
}
